@import url("https://use.typekit.net/zgi2mhi.css");
/*Misc*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

root {
  margin: 0;
  font-weight: 500;
  font-style: normal;
  font-family: futura-pt, sans-serif;
  color: #232026;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1, h2, h3, h4, h5, h6, a, p {
  margin: 0;
  padding: 0;
  font-family: futura-pt, sans-serif; }

h3 {
  font-weight: 500;
  font-size: 1.1em; }

a {
  text-decoration: none !important;
  margin: 0;
  padding: 0; }

p {
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #232026; }

.red {
  color: #F83753; }

footer, header {
  z-index: 10;
  position: relative;
  padding: 20px; }

section, footer, header {
  z-index: 10;
  position: relative; }

div#navbarScroll {
  justify-content: end; }

ul.navbar-nav.me-auto.my-2.my-lg-0.navbar-nav-scroll {
  margin-right: 0 !important;
  --bs-scroll-height: 220px !important; }

.navbar-toggler:focus {
  box-shadow: none !important; }

.navbar-toggler {
  border: none !important; }

.p-20 {
  padding: 20px; }

.text-right {
  text-align: right; }

img {
  width: 100%;
  height: auto;
  max-width: 100%;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  @media screen and (max-width: 991px) {
    .container .title {
      gap: 50px; } }

.container-spc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center; }
  @media screen and (max-width: 991px) {
    .container-spc {
      flex-direction: column;
      padding: 0 20px; } }

.container-spc-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 991px) {
    .container-spc-center {
      flex-direction: column;
      padding: 0 20px; } }

.container-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px; }
  @media screen and (max-width: 991px) {
    .container-column {
      padding: 0 20px; } }

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0; }

button {
  border: none;
  background: none; }
  button.btn a {
    cursor: pointer;
    font-weight: 700;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
    transition: all .2s;
    padding: 10px 20px;
    border-radius: 100px;
    background: #E5E5E5;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #232026;
    margin-top: 40px; }
    button.btn a:hover {
      background-color: #0E3C9A;
      color: #ffffff; }
    button.btn a:hover svg {
      transform: translateX(5px);
      color: #ffffff; }
  button.btn a:active {
    transform: scale(0.95); }
  button.btn a > svg {
    width: 34px;
    margin-left: 5px;
    transition: transform .3s ease-in-out; }
    button.btn a > svg:hover > svg path {
      fill: #ffffff; }

.btn, .btn:hover {
  border: none !important; }

.marquee__text {
  animation: parallax_text linear 40s infinite both; }

@keyframes parallax_text {
  0% {
    transform-origin: -100px 100%; }
  100% {
    transform-origin: -20000px 100%; } }

/*Partials*/
header nav.logo-col {
  width: 50%;
  float: left; }

header nav.menu {
  width: 50%;
  float: left; }

header nav ul {
  display: flex;
  flex-direction: row;
  align-items: end; }
  @media screen and (max-width: 991px) {
    header nav ul {
      display: flex;
      flex-direction: column;
      align-items: end; } }
  header nav ul li {
    display: inline;
    padding: 10px 15px; }
    header nav ul li.active a {
      color: #F83753; }
    header nav ul li a {
      color: #232026;
      font-size: 1.1em;
      letter-spacing: 0px;
      font-weight: 500;
      text-decoration: none; }
      header nav ul li a:hover {
        color: #F83753;
        transform: translateX(5px);
        transition: all .3s ease; }

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 60px; }
  @media screen and (max-width: 991px) {
    footer {
      flex-direction: column;
      align-items: center; } }
  footer p, footer p.text-right {
    text-align: center; }

/*Pages*/
.title {
  margin-top: 100px; }
  .title__main {
    font-size: 5em;
    font-weight: 600;
    max-width: 850px;
    letter-spacing: -2.3px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 1.1; }
    @media screen and (max-width: 991px) {
      .title__main {
        font-size: 2.4em;
        max-width: 100%;
        padding: 0 20px; } }
  .title__pill {
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: #FFFFFF;
    fill: #FFFFFF;
    background-color: #F83753;
    border-radius: 20px 20px 20px 20px;
    padding: 6px 13px 4px 13px; }
    @media screen and (max-width: 991px) {
      .title__pill {
        text-align: center; } }

.intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 50px;
  width: 900px;
  margin: 100px auto; }
  .intro__title {
    font-size: 2.7em;
    font-weight: 500;
    line-height: 1;
    text-align: right; }
    @media screen and (max-width: 991px) {
      .intro__title {
        font-size: 1.8em;
        text-align: center; } }
  .intro__right p {
    font-size: 1.5em;
    font-weight: 400; }
    @media screen and (max-width: 991px) {
      .intro__right p {
        font-size: 1.2em;
        text-align: center; } }
  @media screen and (max-width: 991px) {
    .intro {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 50px auto;
      gap: 20px;
      padding: 0 20px; } }

.marquee {
  overflow: hidden;
  white-space: nowrap;
  margin: 200px 0; }
  .marquee__text {
    font-size: 2.5rem;
    font-weight: 600;
    transform-origin: -100px;
    transform: translateZ(3px) scale(0.9); }
    @media screen and (max-width: 991px) {
      .marquee__text {
        font-size: 1.4rem; } }
  @media screen and (max-width: 991px) {
    .marquee {
      margin: 50px 0; } }

.projects {
  width: 100%;
  margin: 40px auto; }
  .projects__title {
    text-align: center;
    font-size: 3.5em;
    margin-bottom: 60px; }
    @media screen and (max-width: 991px) {
      .projects__title {
        font-size: 1.8em; } }
  .projects__right__group {
    margin-right: -100px; }
    @media screen and (max-width: 991px) {
      .projects__right__group {
        margin-right: 0; } }
  .projects__left__group {
    margin-left: -50px; }
    @media screen and (max-width: 991px) {
      .projects__left__group {
        margin-left: 0; } }
  .projects__right__image-box {
    background-color: transparent;
    background-image: linear-gradient(180deg, #6464641c 0%, #ffffff00 100%);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0% 0% 0% 0%;
    --e-column-margin-right: 0%;
    --e-column-margin-left: 0%;
    padding: 8% 15% 8% 10%;
    border-radius: 40px 0px 0px 0px; }
    @media screen and (max-width: 991px) {
      .projects__right__image-box {
        border-radius: 40px 40px 0px 0px;
        margin-top: 40px; } }
  .projects__left__image-box {
    background-color: transparent;
    background-image: linear-gradient(180deg, #6464641c 0%, #ffffff00 100%);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0% 0% 0% 0%;
    --e-column-margin-right: 0%;
    --e-column-margin-left: 0%;
    padding: 8% 10% 8% 10%;
    border-radius: 0px 40px 0px 0px; }
    @media screen and (max-width: 991px) {
      .projects__left__image-box {
        border-radius: 40px 40px 0px 0px;
        margin-top: 40px; } }
  .projects__right__group, .projects__left__group {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 40px; }
    @media screen and (max-width: 991px) {
      .projects__right__group, .projects__left__group {
        width: 100%;
        align-items: center;
        gap: 20px; } }
  .projects__right__title, .projects__left__title {
    font-size: 3em; }
    @media screen and (max-width: 991px) {
      .projects__right__title, .projects__left__title {
        font-size: 1.5em;
        text-align: center; } }
  .projects__right__text, .projects__left__text {
    font-size: 1.5em; }
    @media screen and (max-width: 991px) {
      .projects__right__text, .projects__left__text {
        font-size: 1.2em;
        text-align: center; } }
  .projects button a {
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 4.5px;
    color: #232026;
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: solid #232026 2px; }
    .projects button a:hover {
      color: #F83753; }
    @media screen and (max-width: 991px) {
      .projects button a {
        font-size: 1em;
        padding-bottom: 10px;
        margin-bottom: 50px; } }
  .projects button {
    transition: transform 250ms ease-out;
    -webkit-transition: transform 250ms ease-out;
    -moz-transition: transform 250ms ease-out;
    -o-transition: transform 250ms ease-out; }
    .projects button:hover {
      transform: translateY(-10px); }
  .projects__left {
    flex-direction: row-reverse; }
    @media screen and (max-width: 991px) {
      .projects__left {
        flex-direction: column; } }
  .projects figure img {
    max-width: 500px;
    border-radius: 20px; }
  @media screen and (max-width: 991px) {
    .projects.container {
      max-width: 100%;
      margin: 50px auto;
      gap: 50px; } }

.info {
  padding: 100px 0; }
  .info__title {
    color: #232026;
    font-size: 2.4em;
    max-width: 800px;
    text-align: center; }
    @media screen and (max-width: 991px) {
      .info__title {
        color: #232026;
        font-size: 1.6em;
        max-width: 100%; } }
  .info button.btn a {
    color: #ffffff;
    fill: #ffffff;
    background-color: #232026; }
  .info button.btn a > svg {
    fill: #ffffff; }
  @media screen and (max-width: 991px) {
    .info {
      padding: 50px 0; } }

.title__main02 {
  font-size: 5em;
  font-weight: 600;
  max-width: 850px;
  letter-spacing: -2.3px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 1.1; }
  @media screen and (max-width: 991px) {
    .title__main02 {
      font-size: 2.4em;
      max-width: 100%; } }

.title__sub {
  max-width: 800px;
  text-align: center;
  font-size: 1.4em; }
  @media screen and (max-width: 991px) {
    .title__sub {
      max-width: 100%; } }

.title__group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: initial; }

.title__group > .title__main02, .title .title__group > .title__sub {
  text-align: left; }

figure.nosotros {
  max-width: 55%; }

.box {
  border: solid 2px #E5E5E5;
  border-radius: 20px;
  margin: 20px;
  margin-top: 60px;
  padding: 40px;
  justify-content: space-evenly; }
  .box h3 {
    font-size: 1.6em;
    font-weight: 600;
    margin-bottom: 20px; }
  .box__service {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
    @media screen and (max-width: 991px) {
      .box__service {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center; } }
    @media screen and (max-width: 540px) {
      .box__service {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start; } }
  @media screen and (max-width: 991px) {
    .box button {
      align-self: center; } }
  @media screen and (max-width: 540px) {
    .box button {
      align-self: flex-start; } }
  .box button.red, .box button.blue, .box button.black {
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    fill: #FFFFFF;
    background-color: #F83753;
    border-radius: 20px 20px 20px 20px;
    padding: 6px 13px 4px 13px;
    margin-top: 20px; }
    .box button.red a, .box button.blue a, .box button.black a {
      color: #FFFFFF; }
    .box button.red:hover, .box button.blue:hover, .box button.black:hover {
      background-color: #0E3C9A; }
  .box button.blue {
    background-color: #0E3C9A; }
    .box button.blue:hover {
      background-color: #F83753; }
  .box button.black {
    background-color: #232026; }
    .box button.black:hover {
      background-color: #E5E5E5; }
  @media screen and (max-width: 991px) {
    .box {
      margin-top: 20px;
      width: 100%; } }

.gallery {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 2rem; }
  .gallery__img:nth-of-type(1) {
    grid-column: 1 / 5; }
  .gallery__img:nth-of-type(2) {
    grid-column: 5 / 9; }
  .gallery__img:nth-of-type(3) {
    grid-column: 9 / 13; }
  .gallery__img:nth-of-type(4) {
    grid-column: 1 / 5;
    grid-row: 2 / 4; }
  .gallery__img:nth-of-type(5) {
    grid-column: 5 / 9;
    grid-row: 2; }
  .gallery__img:nth-of-type(6) {
    grid-column: 9 / 13;
    grid-row: 2; }
  .gallery__img:nth-of-type(7) {
    grid-column: 5 / 9;
    grid-row: 3; }
  .gallery__img:nth-of-type(8) {
    grid-column: 9 / 13;
    grid-row: 3; }

#contacto .title__group {
  padding: 0 80px; }
  @media screen and (max-width: 991px) {
    #contacto .title__group {
      padding: 0 0 70px 0; } }

.form {
  width: 450px;
  height: 600px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.3);
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  position: relative; }
  @media screen and (max-width: 991px) {
    .form {
      width: 100%;
      height: 670px; } }
  .form h2 {
    margin: 10px 0;
    padding-bottom: 10px;
    width: 100%;
    color: #232026;
    border-bottom: 3px solid #F83753; }
  .form input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    transition: all 0.3s;
    border-bottom: 2px solid #E5E5E5; }
    .form input:focus {
      border-bottom: 2px solid #78788c; }
  .form p:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: #232026; }
  .form button {
    float: right;
    padding: 8px 12px;
    margin: 8px 0 0;
    border: 2px solid #F83753;
    background: 0;
    color: #232026;
    cursor: pointer;
    transition: all 0.3s; }
    .form button:hover {
      background: #F83753;
      color: #ffffff; }
  .form div {
    content: "Hi";
    position: absolute;
    bottom: -40px;
    right: -20px;
    background: #232026;
    color: #ffffff;
    width: 320px;
    padding: 16px 4px 16px 0;
    border-radius: 6px;
    font-size: 13px;
    box-shadow: 10px 10px 40px -14px rgba(0, 0, 0, 0.3); }
    @media screen and (max-width: 991px) {
      .form div {
        right: -4px;
        width: 200px;
        padding: 10px;
        text-align: center; } }
  .form span {
    margin: 0 5px 0 15px; }

input[type="radio"], input[type="checkbox"] {
  display: inline;
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  width: auto; }

label {
  display: inline;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: normal;
  font-size: 14px;
  color: #232026; }

.checkboxes {
  width: 100%; }
  .checkboxes span {
    margin: 0 10px 0 0;
    display: inline-block; }

/*Responsive*/
@media screen and (max-width: 480px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, auto);
    gap: 1rem; }
  .gallery__img:nth-of-type(1) {
    grid-column: 1 / 6; }
  .gallery__img:nth-of-type(2) {
    grid-column: 6 / 11; }
  .gallery__img:nth-of-type(3) {
    grid-column: 1 / 11;
    grid-row: 2 / 3; }
  .gallery__img:nth-of-type(4) {
    grid-column: 1 / 6;
    grid-row: 3 / 5; }
  .gallery__img:nth-of-type(5) {
    grid-column: 6 / 11;
    grid-row: 3; }
  .gallery__img:nth-of-type(6) {
    grid-column: 6 / 11;
    grid-row: 4; }
  .gallery__img:nth-of-type(7) {
    grid-column: 1 / 6;
    grid-row: 5; }
  .gallery__img:nth-of-type(8) {
    grid-column: 6 / 11;
    grid-row: 5; } }
