.title{
    margin-top: 100px;

    &__main{
        font-size: 5em;
        font-weight: 600;
        max-width: 850px;
        letter-spacing: -2.3px;
        margin-bottom: 20px;
        text-align: center;
        line-height: 1.1;

        @include media-up(md){
            font-size: 2.4em;
            max-width: 100%;
            padding: 0 20px;
        }
    }
    &__pill{
        font-size: 11px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        color: #FFFFFF;
        fill: #FFFFFF;
        background-color: map-get($colors, color-red);
        border-radius: 20px 20px 20px 20px;
        padding: 6px 13px 4px 13px;

        @include media-up(md){
            text-align: center;
        }
    }
}

.intro{
    @include flex(row, center, stretch, 50px);
    width: 900px;
    margin: 100px auto;
   

    &__title {
        font-size: 2.7em;
        font-weight: 500;
        line-height: 1;
        text-align: right;

        @include media-up(md){
            font-size: 1.8em;
            text-align: center;
        }
    }

    &__right p{
        font-size: 1.5em;
        font-weight: 400;

        @include media-up(md){
            font-size: 1.2em;
            text-align: center;
        }
    }

    @include media-up(md){
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 50px auto;
        gap: 20px;
        padding: 0 20px;
    }


}

.marquee {
    overflow: hidden;
    white-space: nowrap;
    margin: 200px 0;

    &__text{
        font-size: 2.5rem;
        font-weight: 600;
        transform-origin: -100px;
        transform: translateZ(3px) scale(0.9);

        @include media-up(md){
            font-size: 1.4rem;
        }
    }

    @include media-up(md){
        margin: 50px 0;
    }
}

.projects{
    width: 100%;
    margin: 40px auto;

    &__title{
        text-align: center;
        font-size: 3.5em;
        margin-bottom: 60px;

        @include media-up(md){
            font-size: 1.8em;
        }
    }

    &__right__group {
        margin-right: -100px;  

        @include media-up(md){
            margin-right: 0;
        }
    }

    &__left__group {
        margin-left: -50px;  

        @include media-up(md){
            margin-left: 0;
        }
    }

    &__right__image-box {
        background-color: transparent;
        background-image: linear-gradient(180deg, #6464641c 0%, #ffffff00 100%);
        transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
        margin: 0% 0% 0% 0%;
        --e-column-margin-right: 0%;
        --e-column-margin-left: 0%;
        padding: 8% 15% 8% 10%;
        border-radius: 40px 0px 0px 0px;

        @include media-up(md){
            border-radius: 40px 40px 0px 0px;
            margin-top: 40px;
        }
    }

    &__left__image-box {
        background-color: transparent;
        background-image: linear-gradient(180deg, #6464641c 0%, #ffffff00 100%);
        transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
        margin: 0% 0% 0% 0%;
        --e-column-margin-right: 0%;
        --e-column-margin-left: 0%;
        padding: 8% 10% 8% 10%;
        border-radius: 0px 40px 0px 0px;

        @include media-up(md){
            border-radius: 40px 40px 0px 0px;
            margin-top: 40px;
        }
    }

    &__right__group, &__left__group{
        width: 40%;
        @include flex(column, center, start, 40px);

        @include media-up(md){
            width: 100%;
            align-items: center;
            gap: 20px;
        }
    }

    &__right__title, &__left__title{
        font-size: 3em;

        @include media-up(md){
            font-size: 1.5em;
            text-align: center;
        }
    }

    &__right__text, &__left__text{
        font-size: 1.5em;

        @include media-up(md){
            font-size: 1.2em;
            text-align: center;
        }
    }

    & button a{
        font-size: 1.2em;
        font-weight: 600;
        letter-spacing: 4.5px;
        color: map-get($colors, color-black);
        text-transform: uppercase;
        padding-bottom: 10px;
        border-bottom: solid map-get($colors, color-black) 2px;

        &:hover{
            color: map-get($colors, color-red);
        }

        @include media-up(md){
            font-size: 1em;
            padding-bottom: 10px;
            margin-bottom: 50px;
        }
    }

    & button{
        transition: transform 250ms ease-out;
        -webkit-transition: transform 250ms ease-out;
        -moz-transition: transform 250ms ease-out;
        -o-transition: transform 250ms ease-out;

        &:hover{
            transform: translateY(-10px);
        }
    }

    &__left{
        flex-direction: row-reverse;

        @include media-up(md){
            flex-direction: column;
        }
    }

    & figure img{
        max-width: 500px;
        border-radius: 20px;
    }

    &.container{
        @include media-up(md){
            max-width: 100%;
            margin: 50px auto;
            gap: 50px;
        }
    }
    
 }

 .info {
    padding: 100px 0;

    &__title{
        color: map-get($colors, color-black);
        font-size: 2.4em;
        max-width: 800px;
        text-align: center;

        @include media-up(md){
            color: map-get($colors, color-black);
            font-size: 1.6em;
            max-width: 100%;
        }
    }

    & button.btn a{
        color: map-get($colors, color-white);
        fill: map-get($colors, color-white);
        background-color: map-get($colors, color-black);
    }

    & button.btn a > svg {
        fill: map-get($colors, color-white);
    }

    @include media-up(md){
        padding: 50px 0;
    }
}