.box{
    border: solid 2px map-get($colors, color-gray);
    border-radius: 20px;
    margin: 20px;
    margin-top: 60px;
    padding: 40px;
    justify-content: space-evenly;

    & h3{
        font-size: 1.6em;
        font-weight: 600;
        margin-bottom: 20px;
    }

    & button.red{
        font-size: 11px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        fill: #FFFFFF;
        background-color: map-get($colors, color-red);
        border-radius: 20px 20px 20px 20px;
        padding: 6px 13px 4px 13px;
        margin-top: 20px;
    
        & a{
            color: #FFFFFF;
        }

        &:hover{
            background-color: map-get($colors, color-blue);
        }
    }

    & button.blue{
        @extend button.red;
        background-color: map-get($colors, color-blue);

        &:hover{
            background-color: map-get($colors, color-red);
        }
    }

    & button.black{
        @extend button.red;
        background-color: map-get($colors, color-black);

        &:hover{
            background-color: map-get($colors, color-gray);
        }
    }
}