// colors

$colors: (
    color-gray: #E5E5E5,
    color-white: #ffffff,
    color-red: #F83753,
    color-black: #232026,
    color-blue: #0E3C9A,
    color-bg: #ffffff
);

// font family

$font-primary: futura-pt, sans-serif;
$font-secondary: tenon, sans-serif;

// Responsive

$breakpoints: (
    sm: 540px,
    md: 991px,
    lg: 1400px
);