// colors

$color-gray: #E5E5E5;
$color-white: #fff;
$color-red: #F83753;
$color-black: #232026;
$color-blue: #0E3C9A;
$color-bg: #fff;

// font family

$font-primary: futura-pt, sans-serif;
$font-secondary: tenon, sans-serif;

